.banner img {
    max-height: 223px;
    min-width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.banner h1 {
    color:white;
}

.bannerTitle {
    position: absolute;
    top: 256px;
    left: 50%;
    transform: translate(-50%, 0);
}
